    <!-- No styling here. -->
<!-- Searches for biographical materials in OneSearch. -->
<form id="onesearch-bio-form" action="https://ezproxy.losrios.edu/form?qurl=https%3A%2F%2Fsearch.ebscohost.com%2Flogin.aspx" method="post">
    <input type="hidden" name="authtype" value="ip,guest" >
    <input type="hidden" name="direct" value="true" >
        <!-- Below are the per-college values for custid. If you do not replace the value with the appropriate one, the form will not work.
        ARC: amerriv
        CRC: cosum
        FLC: ns015092
        SCC: sacram
        -->
    <input type="hidden" name="custid" value="REPLACE THIS WITH YOUR VALUE" >
    <input type="hidden" name="site" value="eds-live" >
    <input type="hidden" name="groupid" value="main" >
    <input type="hidden" name="profile" value="eds" >
    <!-- You may change the label's text but you must include a label for ADA compliance. -->
    <label id="onesearch-label" for="onesearch-bio-query">Enter your keywords:</label>
    <input type="text" name="bquery" id="onesearch-bio-query" >
    <!-- The value below also catches book-length works. If you don't want those, simply change the value to the simpler version:
    AND (PZ biography)
    -->
    <input type="hidden" name="bquery" id="onesearch-bio-fieldcodes" value=" AND (PZ biography OR (PT book AND SU biography) OR PT biography OR PT author biography) NOT (SU review))" >
    <input type="submit" value="Search" >

</form>

<script type="text/javascript">
// this search box will work without the JS, but a comma will show in the query, which is functional but looks awkward... and JS is of course needed for the Google Analytics.

document.getElementById('onesearch-bio-form').addEventListener('submit', function(e)
{
    e.preventDefault();
    var keywords = document.getElementById('onesearch-bio-query').value;
    keywords = '(((SU+' + keywords + ')+OR+(SA+' + keywords + '))';
    var custid = document.getElementsByName('custid')[0].value;
    var bioFieldNames = document.getElementById('onesearch-bio-fieldcodes').value;
    // FOR GOOGLE ANALYTICS ONLY. If you don't want to track in GA, can delete these lines completely
	// below uses older Google Analytics - ARC and FLC are both still using this. Not sure what CRC is doing.
	//	_gaq.push(['_trackEvent','onesearch biography form', 'submit', keywords]);
	// below uses latest version of Google Analytics (Universal Analytics)
	//      ga('send', 'event', 'onesearch biography form', 'submit', keywords);
    location.href='https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,guest&direct=true&custid=' + custid + '&site=eds-live&groupid=main&profile=eds&bquery=' + keywords + bioFieldNames;
// if you want to open it in a new window (NOT RECOMMENDED), comment out the line above and uncomment below
// window.open('https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,guest&direct=true&custid=' + custid + '&site=eds-live&groupid=main&profile=eds&bquery=' + keywords + bioFieldNames);
// also add target="_blank" to form element to avoid popup blocker
});
</script> 