<!-- No styling here -->
<!-- to use the proxy, uncomment next line and comment the one after it -->
<!--<form id="onesearch-form" action="https://ezproxy.losrios.edu/form?qurl=https%3A%2F%2Fsearch.ebscohost.com%2Flogin.aspx" method="post">-->
<form id="onesearch-form" action="https://search.ebscohost.com/login.aspx" method="get">
	<!-- hidden fields provided so that form functions without javascript -->
    <input type="hidden" name="authtype" value="ip,guest" >
    <input type="hidden" name="direct" value="true" >
        <!-- Below are the per-college values for custid. If you do not replace the value with the appropriate one, the form will not work.
        ARC: amerriv
        CRC: cosum
        FLC: ns015092
        SCC: sacram
        -->
    <input type="hidden" name="custid" value="REPLACE THIS WITH YOUR VALUE" >
    <input type="hidden" name="site" value="eds-live" >
    <input type="hidden" name="groupid" value="main" >
    <input type="hidden" name="profile" value="eds" >
    <!-- You may change the label's text but you must include a label for ADA compliance. -->
    <label id="onesearch-label" for="onesearch-query">Enter your keywords:</label>
    <input type="text" name="bquery" id="onesearch-query" >
    <input type="submit" value="Search" >
    <div id="limiters">
    	<input type="radio" name="os-limit" value="all" id="no-limit" checked > <!-- important to have most common option checked by default -->
    	<label for="no-limit">Everything</label>
    	<input type="radio" name="os-limit" value="cat" id="cat-limit" >
    	<label for="cat-limit">Books &amp; Videos Only</label>
    	<input type="radio" name="os-limit" value="schol" id="schol-limit" >
    	<label for="schol-limit">Scholarly Journals Only</label>
    	<input type="radio" name="os-limit" value="ebook" id="ebook-limit" >
    	<label for="ebook-limit">Ebooks Only</label>
    </div>
</form>

<script type="text/javascript">
// this script is necessary for the limiters to work. If it is excluded, or a user has javascript disabled, keywords will still be sent to EDS but the limiters will not function.
function sendSearch(keywords, limiters, label)
{
    var custid = document.getElementsByName('custid')[0].value;
	// to use the proxy,  uncomment following line and comment one after it
	//var urlBase = 'https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=' + custid + '&groupid=main&profile=eds';
    var urlBase = 'https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=' + custid + '&groupid=main&profile=eds';
    var searchParams = '&direct=true&site=eds-live';
    var query = '&bquery=' + keywords;
    /* the following tracks usage of the search box in Google Analytics. If you have access to your page's Google Analytics and want to track usage of the search box, uncomment the block and the appropriate line depending on version of Analytics. You can also edit the category, action and label as desired. Otherwise delete the entire script block. */
    // below uses older Google Analytics - ARC and FLC are both still using this. Not sure what CRC is doing.
    // _gaq.push(['_trackEvent','onesearch form - ' + label, 'submit', keywords]);
    // below uses latest version of Google Analytics (Universal Analytics)
    // ga('send', 'event', 'onesearch form - ' + label, 'submit', keywords);
    if (keywords !== '')
    {
        var suffix = '';
        if (limiters !== '')
        {
            suffix = limiters;
        }

        location.href = urlBase + searchParams + query + suffix;
	// optional - open in new window/tab - only do this if you have a widget e.g. D2L. Comment out line above, uncomment line below
	// window.open(urlBase + searchParams + query + suffix);
    }
    else
    { // sometimes people don't put in search terms - in that case, send to home screen
        location.href = urlBase;
	// comment out line above and uncomment line below if opening in new window
	// window.open(urlBase);
	// also add target="_blank" to form element to avoid popup blocker
    }
}
document.getElementById('onesearch-form').addEventListener('submit', function(e)
{
    e.preventDefault();
    var keywords = document.getElementById('onesearch-query').value;
    // label variable is only used for Google Analytics tracking. If tracking is not used, it does no harm
    var limit, label;
    if (document.getElementById('cat-limit').checked)
    {
        limit = '&cli0=FC&clv0=Y';
        label = 'catalog';
    }
    else if (document.getElementById('schol-limit').checked)
    {
        limit = '&cli0=RV&clv0=Y';
        label = 'scholarly';
    }
    else if (document.getElementById('ebook-limit').checked)
    {
        limit = ' AND PT ebook';
        label = 'ebooks';
    }
    else
    {
        limit = '';
        label = 'all';
    }
    sendSearch(keywords, limit, label);
});
</script> 